.site-footer {
    background-color: white;
    color: black;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.social-icons a:hover {
    background-color: #eee;
}

.social-icons img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
